   <configuration>
     <system.webServer>
       <handlers>
         <add name="Python FastCGI" path="*.py" verb="*" modules="FastCgiModule" scriptProcessor="D:\Python39\python.exe|D:\home\site\wwwroot\main.py" resourceType="Unspecified" />
       </handlers>
     </system.webServer>
   </configuration>